<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>Triclick</string>
	<key>CFBundleIdentifier</key>
	<string>dev.medve01.Triclick</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Triclick</string>
	<key>CFBundleDisplayName</key>
	<string>Triclick</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Medve01. MIT License.</string>
	<key>NSAccessibilityUsageDescription</key>
	<string>Triclick needs Accessibility access to post a middle click.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Triclick uses system events to emulate a middle mouse button.</string>
</dict>
</plist>